[package]
name = "rv6-kernel"
version = "0.1.0"
authors = ["Jeehoon Kang <jeehoon.kang@kaist.ac.kr>"]
edition = "2018"

[lib]
crate-type = ["staticlib"]

[features]
default = []
test = []

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
lto = true

[dependencies]
bitflags = "1.2.1"
num-iter = { version = "0.1", default-features = false }
scopeguard = { version = "1.1.0", default-features = false }

