[package]
name = "rv6-kernel"
version = "0.1.0"
authors = ["Jeehoon Kang <jeehoon.kang@kaist.ac.kr>"]
edition = "2018"

[lib]
crate-type = ["staticlib"]

[features]
default = []
test = []

[profile.dev]
panic = "abort"
opt-level = 1

[profile.release]
panic = "abort"
lto = true

[dependencies]
bitflags = "1.2.1"
num-iter = { version = "0.1", default-features = false }
scopeguard = { version = "1.1.0", default-features = false }
arrayvec = { version = "0.5.1", default-features = false }
cstr_core = { version = "0.2.2", default-features = false }
spin = { version = "0.6.0", default-features = false }

# Compiler options for sysroot packages.
# Cargo currently warns following packages are not dependencies.
# This is a bug, those options actually work well.
[profile.dev.package.core]
opt-level = 3
debug-assertions = false
codegen-units = 16
overflow-checks = false

[profile.dev.package.compiler_builtins]
opt-level = 3
debug-assertions = false
codegen-units = 16
overflow-checks = false
